*{
    margin: 0px;
    padding: 0px;
}

body {
    background : url("../images/fondo.jpg");
    background-repeat : round;
}

#container {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

header{
    height: 150px;
    border-style:ridge;
}

#image_title{
    margin-left: 40px;
}

#title {
    color:white;
    margin: 100px;
    font-size: 70px;
    text-align: center;
    line-height: 150px;
}

#cards {
    width: 960px;
    text-align: center;
}

#dealsection{
    margin: auto;
    width: 800px;
    text-align: center;
}
